# Database
# DATABASE_URL=postgresql+asyncpg://kumbh_user:kumbh_pass@localhost:5432/kumbh_db
DATABASE_URL=postgresql+asyncpg://postgres:kumbh_pass@localhost:5432/kumbh_db

# API Security
API_KEY=your-secret-api-key-here

# App
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
